img.about__img{
    border-radius: 50%;
    width: 100%
}
h1.about__heading{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
}
.about_button{
    padding: 20px 0px
}
.about1{

    background-color: #191919
}

.up_to_top_btn{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-color: #F9004D;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
p.about__text{

    text-align: justify;
    text-justify: inter-word;
}