.contact{
    background-color: #191919;

}
h1.hire__text{

    font-size: 60px;
}

p.hire__text{
    font-size: 18px;
    line-height:30 px ;
    color: rgba(29, 29,36, .75);
    font-weight: 400;

}
input.contact__name{

display: block;
width: 100%;
padding: 0 20px;
border: 2px solid rgba(0, 0, 0, .1);
border-radius: 5px;
-webkit-transition: all .3s ease;
transition: all .3s ease ;
height:n 50px;
line-height:46px ;
margin:20px 0px ;
outline: none ;
color:#fff ;
font-size: 15px ;
letter-spacing: .1px;
background: none;
border: 2px solid hsla(0, 0%, 100%, 0.2);
}

input.contact__email{

    display: block;
    width: 100%;
    padding: 0 20px;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease ;
    height:n 50px;
    line-height:46px ;
    margin:20px 0px ;
    outline: none ;
    color:#fff ;
    font-size: 15px ;
    letter-spacing: .1px;
    background: none;
    border: 2px solid hsla(0, 0%, 100%, 0.2);
    }

textarea.contact__subject{
    display: block;
    width: 100%;
    padding: 0 20px;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease ;
    height:n 50px;
    line-height:46px ;
    margin:20px 0px ;
    outline: none ;
    color:#fff ;
    font-size: 15px ;
    letter-spacing: .1px;
    background: none;
    border: 2px solid hsla(0, 0%, 100%, 0.2);
    }

button.btn.contact.pointer{

    margin: 20px 0px;
}

.contactImg{

    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.copright{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.contact__img{
    border-radius: 50%;
    width: 100%;
    height: 50%;

}

img.facebook{
    border-radius: 100px;
    background-color: #191919;
    width: 10%
}
img.linkdin{
    border-radius: 100px;
    background-color: #191919;
    width: 10%
}