.home__bg{
    background-image: url(C:/Users/Soumik/Pictures/portfolio/src/img/bg.jpg);
    background-color: black;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

li.nav__items{
    font-size: 18px;
    padding-bottom: 15px;

}
.home__content{
    padding: 125px 0px;

}
h1.home__text{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(198,201,216,.75);
}

h2.home__text{
    font-size: 54px;
    line-height: 54px ;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: Montserrat, sans-serif;
}
h3.home__text{
    font-size: 30px;
    line-height: 40px ;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: Montserrat, sans-serif;
}
.logo1{

    height: 70px;
    width: 75px; 
}

h1.text{
    color: black;
    font-size: 30px;

}

